
<div class="container-fluid margin-0-auto border-right-16-6EABF5 border-left-16-6EABF5 min-height-800">

	<div class="card">
		<div class="card-header border-color-6EABF5 bg-efefef padding-5-10">
			<div class="row bg-fff border-1-6EABF5">
				<div class="col-md-4">
					<img src="https://svlotustemple.org/images/logo2.png"/>
					<span class="padding-2 margin-left-20 font-32 color-224774 shadow-2-0-1-6EABF5 arial border-bottom-2-224774">Sri Annapurna</span>
				</div>
				<div class="col-md-7">
					<ul class="nav nav-pills justify-content-end margin-top-30">
					  <li [ngClass]="{active: isPath == 'home'}"><a (click)="isPath='home';" [routerLink]="'/home'">Home</a></li>
					  <li [ngClass]="{active: isPath == 'menu'}"><a (click)="isPath='menu';" [routerLink]="'/menu'">Menu</a></li>
					  <li [ngClass]="{active: isPath == 'order'}"><a (click)="isPath='order';" [routerLink]="'/order'">Order</a></li>
					  <!--<li [ngClass]="{active: isPath == 'about'}"><a (click)="isPath='about';" [routerLink]="'/about'">About</a></li> -->
					  <li [ngClass]="{active: isPath == 'contact'}"><a (click)="isPath='contact';" [routerLink]="'/contact'">Contact</a></li>
					  <li [ngClass]="{active: isPath == 'cart'}"><a (click)="isPath='cart';" [routerLink]="'/cart'">Cart</a></li>
					 <!-- <li [ngClass]="{active: isPath == 'login'}"><a (click)="isPath='login';" [routerLink]="'/login'">Sign In</a></li> -->
					  <li [ngClass]="{active: isPath == 'admin'}"><a (click)="isPath='admin';" [routerLink]="'/admin'">Admin</a></li>
					</ul>	
			
				</div>
			</div>

		</div>

	</div>


	<div class="card">

		<div class="card-body border-color-6EABF5 border-radius-8">
		    <router-outlet></router-outlet>
		</div>
	</div>

</div>


<!--

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" (click)="collapse=true" [hidden]="true">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{active: isPath == 'home'}">
        <a class="nav-link" (click)="isPath='home';" [routerLink]="'/home'">Home</a>
      </li>
      <li class="nav-item" [ngClass]="{active: isPath == 'menu'}">
        <a class="nav-link" (click)="isPath='menu';" [routerLink]="'/menu'">Menu</a>
      </li>
      <li class="nav-item" [ngClass]="{active: isPath == 'cart'}">
        <a class="nav-link" (click)="isPath='cart';" [routerLink]="'/cart'">Cart</a>
      </li>
      <li class="nav-item" [ngClass]="{active: isPath == 'contact'}">
        <a class="nav-link" (click)="isPath='contact';" [routerLink]="'/contact'">Contact</a>
      </li>
      <li class="nav-item" [ngClass]="{active: isPath == 'admin'}">
        <a class="nav-link" (click)="isPath='admin';" [routerLink]="'/admin'">Admin</a>
      </li>
    </ul>
  </div>
</nav>	

-->	