<div class="row" >
	<div class="col-md-12 padding-10-10-0-20 margin-bottom-10">
		<div class="border-bottom-2-6EABF5"><h2>Home</h2></div>
	</div>
</div>
<div class="row" >
	<div class="col-md-6">
		<div class="card padding-20 font-12 border-color-6EABF5 border-right-8-6EABF5 border-left-8-6EABF5">
			<span class="border-bottom-1-6EABF5 bold"><h3>Traditional Indian Food</h3></span>
			<div class="row">
				<div class="col-md-12 margin-top-20 font-12 color-777 italic">
								The traditional food of India has been widely appreciated for its fabulous use of herbs and spices. Indian cuisine is known for its large assortment of dishes. The cooking style varies from region to region and is largely divided into South Indian & North Indian cuisine. India is quite famous for its diverse multi cuisine available in a large number of restaurants and hotel resorts, which is reminiscent of unity in diversity. The staple food in India includes wheat, rice and pulses with chana (Bengal Gram) being the most important one. In modern times Indian pallete has undergone a lot of change. In the last decade, as a result of globalisation, a lot of Indians have travelled to different parts of the world and vice versa there has been a massive influx of 
								people of different nationalities in India. This has resulted in Indianisation of various international cuisines.
								One of the wonderful features of Indian food is the extremely wide range of choices that exist. They are all native to India and were created on the subcontinent. India is a nation with a great deal of diversity of soil types, climate and occupations and their cuisine varies in different parts of the country. There are also other factors that influence the cuisine such as spices, fruits, vegetables and herbs that can be easily found in each location. Even the climate changes from one area to another and this is also an important factor. Even today, Indian food is still evolving because the country continues to adopt new ideas from other societies.  
				</div>
			</div>
			<div class="row margin-top-20">
				<div class="col-md-6">
					<button class="btn btn-primary " [routerLink]="'/menu'">New Order</button>
				</div>
				<div class="col-md-6">
					<div class="float-right">
						<span class="margin-right-20">Have a saved order? </span>
						<button class="btn btn-primary " [routerLink]="'/order'">Retrieve</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card padding-20 font-12 border-color-6EABF5 border-right-8-6EABF5 border-left-8-6EABF5">
			<div class="row">
				<div class="col-md-12 margin-0-auto">
					<!-- <img src="assets/images/bg2.jpg" style="width: 100%"> -->
					<carousel>
					  <slide>
					    <img class="displai-block" src="assets/images/bg2.jpg" alt="first slide" width="560" height="420">
					    <div class="carousel-caption d-none d-md-block">
					      <h3>First slide label</h3>
					      <p>Collage</p>
					    </div>
					  </slide>
					  <slide>
					    <img class="displai-block" src="assets/images/daal.jpg" alt="second slide" width="560" height="420">
					    <div class="carousel-caption d-none d-md-block">
					      <h3>Second slide label</h3>
					      <p>Daal</p>
					    </div>
					  </slide>
					  <slide>
					    <img class="displai-block" src="assets/images/dokla.jpg" alt="third slide" width="560" height="420">
					    <div class="carousel-caption d-none d-md-block">
					      <h3>Third slide label</h3>
					      <p>Dokla</p>
					    </div>
					  </slide>
					</carousel>

				</div>
			</div>
		</div>
	</div>
</div>
<!--

	<div class="col-md-5">
		<div class="row">
			<div class="col-md-12 font-12 color-777 italic">
							The traditional food of India has been widely appreciated for its fabulous use of herbs and spices. Indian cuisine is known for its large assortment of dishes. The cooking style varies from region to region and is largely divided into South Indian & North Indian cuisine. India is quite famous for its diverse multi cuisine available in a large number of restaurants and hotel resorts, which is reminiscent of unity in diversity. The staple food in India includes wheat, rice and pulses with chana (Bengal Gram) being the most important one. In modern times Indian pallete has undergone a lot of change. In the last decade, as a result of globalisation, a lot of Indians have travelled to different parts of the world and vice versa there has been a massive influx of 
							people of different nationalities in India. This has resulted in Indianisation of various international cuisines.
							One of the wonderful features of Indian food is the extremely wide range of choices that exist. They are all native to India and were created on the subcontinent. India is a nation with a great deal of diversity of soil types, climate and occupations and their cuisine varies in different parts of the country. There are also other factors that influence the cuisine such as spices, fruits, vegetables and herbs that can be easily found in each location. Even the climate changes from one area to another and this is also an important factor. Even today, Indian food is still evolving because the country continues to adopt new ideas from other societies.  
			</div>
		</div>
	</div> 
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-12 margin-0-auto">
				<!-- <img src="assets/images/bg2.jpg" style="width: 100%"> 
				<carousel>
				  <slide>
				    <img class="displai-block" src="assets/images/bg2.jpg" alt="first slide" width="560" height="420">
				    <div class="carousel-caption d-none d-md-block">
				      <h3>First slide label</h3>
				      <p>Collage</p>
				    </div>
				  </slide>
				  <slide>
				    <img class="displai-block" src="assets/images/daal.jpg" alt="second slide" width="560" height="420">
				    <div class="carousel-caption d-none d-md-block">
				      <h3>Second slide label</h3>
				      <p>Daal</p>
				    </div>
				  </slide>
				  <slide>
				    <img class="displai-block" src="assets/images/dokla.jpg" alt="third slide" width="560" height="420">
				    <div class="carousel-caption d-none d-md-block">
				      <h3>Third slide label</h3>
				      <p>Dokla</p>
				    </div>
				  </slide>
				</carousel>

			</div>
		</div>
		<div class="row margin-top-30">
			<div class="col-md-8">
				<button class="btn btn-primary " [routerLink]="'/menu'">New Order</button>
			</div>
			<div class="col-md-4">
				<span class="margin-right-20">Have a saved order? </span>
				<button class="btn btn-primary " [routerLink]="'/order'">Retrieve</button>
			</div>
		</div>
	</div>		
</div>



<!-- 
				<div class="card" style="padding: 20px; font-size: 12px;border-color: #6EABF5; border-right: 8px solid #6EABF5; border-left: 8px solid #6EABF5; ">
					<span style="border-bottom: 1px solid #6EABF5;color: #777;"><h2>Traditional Indian Food</h2></span>
					
					<div class="row" style="margin: 20px 0 10px 0;">
						<div class="col-md-12" style="font-size: 16px; color: #777;">
							The traditional food of India has been widely appreciated for its fabulous use of herbs and spices. Indian cuisine is known for its large assortment of dishes. The cooking style varies from region to region and is largely divided into South Indian & North Indian cuisine. India is quite famous for its diverse multi cuisine available in a large number of restaurants and hotel resorts, which is reminiscent of unity in diversity. The staple food in India includes wheat, rice and pulses with chana (Bengal Gram) being the most important one. In modern times Indian pallete has undergone a lot of change. In the last decade, as a result of globalisation, a lot of Indians have travelled to different parts of the world and vice versa there has been a massive influx of 
							people of different nationalities in India. This has resulted in Indianisation of various international cuisines. 
							<!--
							One of the wonderful features of Indian food is the extremely wide range of choices that exist. They are all native to India and were created on the subcontinent. India is a nation with a great deal of diversity of soil types, climate and occupations and their cuisine varies in different parts of the country. There are also other factors that influence the cuisine such as spices, fruits, vegetables and herbs that can be easily found in each location. Even the climate changes from one area to another and this is also an important factor. Even today, Indian food is still evolving because the country continues to adopt new ideas from other societies. 
						</div>						
					</div>
					<div class="row" style="margin:10px 0;">
						<div class="col-md-10"></div>
						<div class="col-md-2">
							<button class="btn btn-primary " [routerLink]="'/menu'">New Order</button>
						</div>
					</div>
					
				</div>

-->					